
name: Terraform Destroy

on: 
    workflow_dispatch:
        inputs:             # provide ami_version as an input
            ami_version:
                description: 'AMI version'
                required: true


env:
  AWS_REGION : "eu-west-1"    # AWS region where resources are deployed

jobs:
    cleanup_job:
        name: Clean-Up
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: terraform
        steps:
            # Step 1 - Checkout Repository
            - name: Checkout Repository
              uses: actions/checkout@v4

            # Step 2 - Install terraform '1.9.8'
            - name: Terraform Workflow
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.9.8"
                cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}     # API_TOKEN for HCP Terrafom

            # Step 3 - Terraform init
            - name: Terraform Init
              id: init
              run: terraform init

            # Step 4 - Terraform plan
            - name: Terraform Plan
              id: plan
              run: terraform plan -var "custom_ami_version=${{ inputs.ami_version }}" -no-color
              continue-on-error: true

            # Step 5 - Terraform Destroy, set variable ami_version
            - name: Terraform Destroy
              id: Destroy
              run: terraform destroy -var "custom_ami_version=${{ inputs.ami_version }}" -auto-approve
